
.form-wrap{
	background: rgba(255,255,255,1);
	width: 100%;
	max-width: 850px;

	margin: 0 auto;
	position: relative;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-wrap:before{
	content: "";
	width: 90%;
	height: calc(100% + 60px);
	position: absolute;
	top: -30px;
	background: #c5e1d4;
	z-index: -1;
	opacity: 0.8;
	border-radius: 10px;

}



.form-control{
	height: 50px;
	background: #ecf0f4;
	border-color: transparent;
	padding: 0 15px;
	font-size: 16px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}
.form-control:focus{
	border-color: #c5e1d4;	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}


